# Exploratory Analyses

#### This Notebook will contain exploratory analyses of the LGBT Servey data sets
___

In [1]:
import numpy as np
import pandas as pd

In [2]:
violence_data = 'data/LGBT_Survey_ViolenceAndHarassment.csv'

df_violence = pd.read_csv(violence_data)

In [3]:
df_violence.head()

,CountryCode,subset,question_code,question_label,answer,percentage,notes
0,Austria,Lesbian,e1,Do you avoid holding hands in public with a sa...,Yes,33,NaN
1,Austria,Lesbian,e1,Do you avoid holding hands in public with a sa...,No,53,NaN
2,Austria,Lesbian,e1,Do you avoid holding hands in public with a sa...,I do not have a same-sex partner,12,NaN
3,Austria,Lesbian,e1,Do you avoid holding hands in public with a sa...,Don`t know,2,[0]
4,Austria,Gay,e1,Do you avoid holding hands in public with a sa...,Yes,51,NaN

In [ ]:
df_violence.

In [8]:
df_subgroups = df_violence['subset'].value_counts()
df_subgroups

Gay               9664
Lesbian           9229
Transgender       9016
Bisexual men      8726
Bisexual women    8720
Name: subset, dtype: int64

In [9]:
df_countries = df_violence['CountryCode'].value_counts()
df_countries

Average           1722
Germany           1705
Italy             1681
United Kingdom    1680
Spain             1668
France            1668
Sweden            1655
Finland           1634
Austria           1630
Greece            1621
Poland            1620
Netherlands       1619
Croatia           1604
Romania           1600
Czech Republic    1600
Hungary           1597
Ireland           1583
Bulgaria          1583
Belgium           1578
Portugal          1576
Denmark           1541
Lithuania         1523
Slovakia          1520
Latvia            1453
Estonia           1421
Slovenia          1384
Malta             1350
Cyprus            1337
Luxembourg        1202
Name: CountryCode, dtype: int64

In [19]:
df_answer = df_violence['answer'].value_counts().to_frame()
df_answer

                                                    answer
Don`t know                                            3170
Yes                                                   1732
No                                                    1732
Other                                                 1459
Female                                                 576
...                                                    ...
I do not have a same-sex partner                       145
Public premises or buildings                           145
My home                                                144
omebody stopped me or discouraged me                   122
Went directly to a magistrate or judge to repor...     116

[96 rows x 1 columns]